Repository Proskynete/tenpo-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.css": [
    "prettier --write"
  ]
}

🔧 chore: configure Tailwind CSS
  postcss.config.js
  src/index.css
  tailwind.config.js
Due: prettier --write

➕ chore: add routing and virtualization dependencies
  package-lock.json
  package.json
Due: none

✨ feat(auth): implement authentication service and hook
  src/hooks/useAuth.ts
  src/services/auth.service.ts
Due: prettier --write, eslint --fix

✨ feat(auth): create login page and protected route component
  src/components/ProtectedRoute.tsx
  src/mocks/handlers/auth/resolvers/sign-in.handler.ts
  src/pages/Login.tsx
Due: prettier --write, eslint --fix

✨ feat(movies): add movie service and MSW handlers
  src/mocks/handlers/index.ts
  src/mocks/handlers/movies/handlers.ts
  src/mocks/handlers/movies/mock-data.ts
  src/services/movies.service.ts
Due: prettier --write, eslint --fix

✨ feat(movies): implement virtualized movie list with infinite scroll
  src/components/MovieList.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix

✨ feat: setup app routing with wouter and protected routes
  src/App.tsx
Due: prettier --write, eslint --fix

📝 docs: add comprehensive application documentation
  APP_README.md
Due: none

🔌 feat(movies): integrate real TMDb API replacing MSW mocks
  .env.example
  .gitignore
  src/mocks/handlers/index.ts
  src/models/auth.ts
  src/models/common.ts
  src/models/movies.ts
  src/services/movies.service.ts
Due: prettier --write, eslint --fix

🔄 refactor(auth): extract types to models and use generic Response
  src/services/auth.service.ts
Due: prettier --write, eslint --fix

🔄 refactor(movies): add explicit passthrough for movies MSW handlers
  src/mocks/handlers/movies/handlers.ts
Due: prettier --write, eslint --fix

🔧 chore(config): configure axios instances with interceptors and error handling
  src/lib/api.ts
Due: prettier --write, eslint --fix

🔄 refactor(movies): use tmdbApi instance from centralized config
  src/services/movies.service.ts
Due: prettier --write, eslint --fix

📝 docs: add TMDB_BASE_URL to environment example
  .env.example
Due: none

🔧 chore(deps): migrate to Tailwind CSS v4
  package-lock.json
  package.json
  postcss.config.js
  src/App.css
  src/index.css
  tailwind.config.js
  vite.config.ts
Due: prettier --write

✨ feat(utils): add cookies management utilities
  src/utils/cookies.ts
Due: prettier --write, eslint --fix

🔄 refactor(routes): extract router to separate module
  src/App.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix

🔄 refactor(auth): use centralized API adapter and cookie utils
  src/components/ProtectedRoute.tsx
  src/hooks/useAuth.ts
  src/services/auth.service.ts
Due: prettier --write, eslint --fix

🔄 refactor(mocks): restructure movies handlers with resolver pattern
  src/mocks/handlers/index.ts
  src/mocks/handlers/movies/handlers.ts
  src/mocks/handlers/movies/index.ts
  src/mocks/handlers/movies/mock-data.ts
  src/mocks/handlers/movies/resolvers/get-polular-movies.resolver.ts
Due: prettier --write, eslint --fix

🔄 refactor(components): update MovieList imports and styling
  src/components/MovieList.tsx
Due: prettier --write, eslint --fix

🔥 refactor(api): remove legacy apiAdapter export
  src/lib/api.ts
Due: prettier --write, eslint --fix

✨ feat(auth): implement logout endpoint integration
  src/services/auth.service.ts
Due: prettier --write, eslint --fix

🔄 refactor(auth): make logout async throughout the app
  src/hooks/useAuth.ts
  src/pages/Home.tsx
Due: prettier --write, eslint --fix

✨ feat(utils): add i18n utilities for date and number formatting
  src/utils/common.ts
  src/utils/date.ts
  src/utils/number.ts
Due: prettier --write, eslint --fix

🌐 feat(api): use dynamic locale for TMDb API requests
  src/lib/api.ts
Due: prettier --write, eslint --fix

💄 style(components): enhance MovieList with i18n and UX improvements
  src/components/MovieList.tsx
Due: prettier --write, eslint --fix

🔧 chore(config): add path aliases to TypeScript configuration
  tsconfig.app.json
  tsconfig.json
Due: none

🔧 chore(config): configure Vite path alias resolution
  vite.config.ts
Due: none

✨ feat(ui): install and configure shadcn/ui component library
  components.json
  package-lock.json
  package.json
  src/index.css
  src/lib/utils.ts
Due: prettier --write, eslint --fix

✨ feat(ui): add shadcn/ui base components
  package-lock.json
  package.json
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
Due: prettier --write, eslint --fix

📦 chore(deps): install i18next for internationalization
  package-lock.json
  package.json
Due: none

🌐 feat(i18n): add internationalization with Spanish and English
  src/i18n/config.ts
  src/i18n/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/es.json
Due: prettier --write, eslint --fix

🔧 chore(config): integrate i18n initialization in app entry point
  src/main.tsx
Due: prettier --write, eslint --fix

🌐 feat(components): replace hardcoded text with i18n translations
  src/components/MovieList.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
Due: prettier --write, eslint --fix

✨ feat(ui): enhance Button component with cursor and full-width variant
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix

✨ feat(ui): add shadcn Alert component
  src/components/ui/alert.tsx
Due: prettier --write, eslint --fix

🔄 refactor(auth): replace native inputs with shadcn components in Login
  src/pages/Login.tsx
Due: prettier --write, eslint --fix

🔄 refactor(components): replace native elements with shadcn in MovieList
  src/components/MovieList.tsx
Due: prettier --write, eslint --fix

🐛 fix(auth): handle HTTP error responses in Login Alert
  src/pages/Login.tsx
Due: prettier --write, eslint --fix

✨ feat(ui): add shadcn Badge component
  src/components/ui/badge.tsx
Due: prettier --write, eslint --fix
